.index
{
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  background-color: black;
  height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
  }
  
  h1 {
    /* fontsize header 1*/
    font-size: 28px;
    margin-bottom: 30px;
    align-items: center;
    color:  white;
  }
  
  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider-label {
    margin-bottom: 10px;
    color: white;
  }
  
  .slider {
    width: 255px;
  }
  #red-slider {
    appearance: none;
    height: 10px;
    background: linear-gradient(90deg,red 0%,grey 0%);
    margin-bottom: 10px;
    border-radius: 6px;
  }
  #green-slider {
    appearance: none;
    height: 10px;
    margin-bottom: 10px;
    background: linear-gradient(90deg,#00ff00 0%,grey 0%);
    border-radius: 6px;
  }
  #blue-slider {
    appearance: none;
    height: 10px;
    margin-bottom: 10px;
    background: linear-gradient(90deg,blue 0%,grey 0%);
    border-radius: 6px;
  }
  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width:20px;
    height: 20px;
    background: white;
    border-radius: 50%;
  }

  .slider::-moz-ranger-thumb{
    width:20px;
    height: 20px;
    background: white;
    border-radius: 50%;
  }
  
  
  .value-label {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
  }
  
  .color-box {
    width: 300px;
    height: 75px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1.5px solid black;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .input-label {
    margin-top: 5px;
    margin-right: 10px;
    color: white;
    
  }
  
  .hex-input {
    width: 150px;
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    border : 1.5px solid black
  }
  .reset-input {
    width: 150px;
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    border : 1.5px solid black
  }
  
  .decimal-input {
    width: 150px;
    font-size: 16px;
    padding: 5px;
    border : 1.5px solid black
  }
  
  button {
    font-size: 16px;
    padding: 4px 20px;
    margin-left: 5px;
    background-color: mediumpurple;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: mediumslateblue;
  }
  label
  {
    color: #fff;
    font-size: 18px;
  }
  @media (max-width: 500px) {
    .slider-label, .slider, .value-label {
      margin-right: 0;
    }
    .slider
    {
      width: 255px;
    }
    .color-box
    {
      width: 150px;
    }
    
    
    .input-container {
      flex-direction: column;
      align-items: center;
    }
    
    .hex-input, .decimal-input  {
      width: 100%;
      margin-top: 5px;
      margin-right: 0;
      margin-bottom: 10px;
      
    }
    button {
      font-size: 16px;
      padding: 5px 45px;
      margin-top: 5px;
      background-color: mediumpurple;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    h1 {
      /* fontsize header 1*/
      font-size: 28px;
      margin-bottom: 30px;
      align-items: center;
      color:  white;
    }
  }


  /* Personen CSS*/

  .Personen
  {
    background: linear-gradient(to top, #cc33ff 0%, #99ff33 100%);

    background-color: black;
  }
  .containeremployee {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
  }
  
  .employee {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
  }
  
  .employee img {
    display: block;
    margin: auto;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
  }
  
  .employee h2 {
    margin: 0;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .employee p {
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: #888;
    margin-bottom: 10px;
  }
  
  
  
  