.index {
  /* background: linear-gradient(to bottom, #d9d9d9 0%, mediumpurple 85%, mediumpurple 100%);
    background-repeat: no-repeat;
    Background-attachment: fixed;
    */
  background-color: #d9d9d9;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

h1 {
  /* fontsize header 1
    test test*/
  font-size: 28px;
  margin-bottom: 30px;
  align-items: center;
  color: mediumpurple;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-label {
  margin-bottom: 10px;
  color: black;
  font-family: "Agency FB";
}

.slider {
  width: 255px;
}

#red-slider {
  appearance: none;
  height: 10px;
  background: linear-gradient(90deg, red 0%, grey 0%);
  margin-bottom: 10px;
  border-radius: 6px;
}

#green-slider {
  appearance: none;
  height: 10px;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #00ff00 0%, grey 0%);
  border-radius: 6px;
}

#blue-slider {
  appearance: none;
  height: 10px;
  margin-bottom: 10px;
  background: linear-gradient(90deg, blue 0%, grey 0%);
  border-radius: 6px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.slider::-moz-ranger-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.value-label {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

.color-box {
  width: 300px;
  height: 75px;
  margin-bottom: 30px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1.5px solid #d9d9d9;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.input-label {
  margin-top: 5px;
  margin-right: 10px;
  color: black;
  font-family: "Agency FB";
}

.hex-input {
  width: 150px;
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
  border: 1.5px solid mediumpurple;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.reset-input {
  width: 150px;
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
  border: 1.5px solid black;
}

.decimal-input {
  width: 150px;
  font-size: 16px;
  padding: 5px;
  border: 1.5px solid mediumpurple;
  background-color: #d9d9d9;
  border-radius: 5px;
}

button {
  font-size: 16px;
  padding: 4px 20px;
  margin-left: 5px;
  background-color: mediumpurple;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: mediumslateblue;
}

label {
  color: #fff;
  font-size: 18px;
}

@media (max-width: 500px) {
  .index {
    height: 150vh;
  }

  .slider-label,
  .slider,
  .value-label {
    margin-right: 0;
  }

  .slider {
    width: 255px;
  }

  .color-box {
    width: 150px;
  }

  .input-container {
    flex-direction: column;
    align-items: center;
  }

  .hex-input,
  .decimal-input {
    width: 100%;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  button {
    font-size: 16px;
    padding: 5px 45px;
    margin-top: 5px;
    background-color: mediumpurple;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  h1 {
    /* fontsize header 1*/
    font-size: 28px;
    margin-bottom: 30px;
    align-items: center;
    color: white;
  }
}
