.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 50%;
    margin-top: 4%;
    margin-left: 5%;
}

img {
    position: relative;
    height: auto;
    object-fit: cover;
    width: 50%;
    border-radius: 25px 0 0 25px;
 
}
.blackbox {
    flex: auto;
    position: relative;
    height: auto;
    background-color: #1d1f20;
    text-align: center;
    border-radius: 0px 25px 25px 0px;
}

#title {
    font-family: 'Agency FB';
    font-size: 350%;
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 1%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#extrainfo {
    color: mediumpurple;
    text-decoration: none;
    font-size: 100%;
    margin-top: 3%;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Arial Rounded MT';
}

    p.infobubble {
        font-family: "Archivo Black", sans-serif;
        font-weight: normal;
        font-size: 400%;
        margin-bottom: 0;
        margin-bottom: -0.25em;
        display: block;
        width: 75%;
        cursor: default;
        text-align: right;
        margin-left: auto;
        margin-right: 50px;
        color: mediumpurple;
    
    }
    p.extrabubble {
        font-family: "Archivo Black", sans-serif;
        font-weight: normal;
        font-size: 100%;
        text-align: center;
        width: 90%;
    }
p.gradient-text {
    background-color: mediumpurple;
    background-image: linear-gradient( 315deg, mediumpurple 16.666%, #00ffff 33.333%, #00ffff 50%, #0000ff 66.666%, mediumpurple 83.333%, mediumpurple 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 3s ease forwards;
    margin-right: 5%;
    font-size: 400%;
    text-align: right;
    font-family: "Archivo Black", sans-serif;
}

    .gradient-text:hover {
        animation: rainbow-text-simple-animation 0.5s ease-in forwards;
    }

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }

    40% {
        background-size: 650%;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }

    80% {
        background-size: 650%;
    }

    100% {
        background-size: 650%;
    }
}