body.welcoming {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 200%;
}

#welcome {
    color: #1d1f20;
    font-size: 2vw;
    margin-top: 0.5%;
    font-family: 'Agency FB';
    text-align: center;
}
