

body {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 200%;
}

p.state {
    font-size: 50%;
}

div {
    display: flex;
    justify-content: center ;
}

div>div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#welcome{
    color:black;
    font-size:70%;
    margin:auto;
    font-family:'Agency FB';
}

