body {
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 200%;
}

p.state {
    font-size: 50%;
}

div {
    display: flex;
    justify-content: center ;
}

button {
    width: 100px;
    height: 50px;
}

div>div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}